[submodule "lucet-spectre"]
	path = lucet-spectre
	url = git@github.com:PLSysSec/lucet-spectre
	branch = master
[submodule "sfi-spectre-testing"]
	path = sfi-spectre-testing
	url = git@github.com:PLSysSec/sfi-spectre-testing
	branch = master
